{% extends 'index.html' %}
{% block circuit %}
<div class="text-center">
    <h1>{{ args.title }}</h1>
    <img src={{ args.imgUrl }} class="rounded m-2">
    <form class="" action="" method="POST">
        <div class="row g-3 w-25 mx-auto my-5">
            <div class="col-sm">
                <input type="text" class="form-control" placeholder="Vin" aria-label="Vin">
            </div>
            <div class="col-sm">
                <input type="text" class="form-control" placeholder="R 1" aria-label="R 1">
            </div>
            <div class="col-sm">
                <input type="text" class="form-control" placeholder="R 2" aria-label="R 2">
            </div>
        </div>
        <button type="submit" class="btn btn-primary my-2">Submit</button>
    </form>

</div>
{% endblock %}