{% extends 'base.html' %}
{% block circuit %}
<div class="text-center">
    <h1 class="display-1" style="font-family: 'DotGothic16', sans-serif;">ez-sim</h1>
    <img class="img-fluid m-5" src="https://lukaszadam.com/assets/downloads/javascript_illustration.svg" style="max-width: 400px;">
    <p class="font-monospace mx-auto my-0 fs-4">An online SPICE simulator built on top of PySpice.</p>
    <p class="font-monospace mx-auto my-0 fs-4">Just select the circuit type and give the required inputs!</p>
    <div class="dropdown m-5">
        <a class="btn btn-dark btn-lg dropdown-toggle px-3 py-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Choose Circuit
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% for key,value in args.list.items() %}
                <li><a class="dropdown-item" href="{{ url_for('index', item=value) }}">{{ value }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}