{% extends 'base.html' %}
{% block circuit %}
<div class="text-center">
    <h1>{{ args.title }}</h1>
    <img class="img-fluid" src={{ args.imgUrl }} class="rounded m-2">
    {% if args.inputs %}
        <h4 class="m-2">{{ args.inputs }}</h4>
    {% endif %} 
    {% if args.output %} 
        {% for key, value in args.output.items() %}
            <div class="m-2">
                <h2> Node {{key}} : {{value}}</h2>
            </div>
        {% endfor %} 
    {% endif %}
    {% if args.plot %}
        <img class="img-fluid" src='data:image/png;base64,{{args.plot}}'/>
    {% endif %}
      

</div>
{% endblock %}